/* .corpo_servico {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
  }
  
  .lista_servicos {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .lista_serv {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    width: 50%;
  }
  
  .lista_serv input {
    margin-right: 8px;
  }
  
  
   */